@model DtoUpdate
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row" style="width:700px;">
    <div class="col-md-8 mx-auto rounded border p-3">
        <h2 class="text-center mb-5">Cập nhật thông tin</h2>
        @if (TempData["UpdateSuccess"] != null)
        {
            <div class="alert alert-success">
                @TempData["UpdateSuccess"]
            </div>
        }
        <form asp-action="Info" asp-controller="Account" method="post" enctype="multipart/form-data">
            <div class="form-floating my-3">
                <input type="email" class="form-control" id="floatingInput" asp-for="STaiKhoan"
                       placeholder="name@example.com" disabled>
                <label for="floatingInput">Tài khoản</label>
                <span class="text-danger" asp-validation-for="STaiKhoan"></span>
            </div>
            <div class="form-floating my-3">
                <input type="text" class="form-control" id="floatingCCCD"
                       placeholder="name@example.com" asp-for="STenNguoiDung">
                <label for="floatingCCCD">Họ và tên</label>
                <span asp-validation-for="STenNguoiDung" class="text-danger"></span>
            </div>
            <div class="form-floating my-3">
                <input type="text" class="form-control" id="floatingCCCD"
                       placeholder="name@example.com" asp-for="SCccd">
                <label for="floatingCCCD">Căn cước công dân</label>
                <span asp-validation-for="SCccd" class="text-danger"></span>
            </div>
            <div class="form-floating my-3">
                <input type="text" class="form-control" id="floatingAdress" asp-for="SDiaChi"
                       placeholder="name@example.com">
                <label for="floatingAdress">Địa chỉ</label>
                <span asp-validation-for="SDiaChi" class="text-danger"></span>
            </div>
            <div class="form-floating my-3">
                <input type="date" class="form-control" id="floatingDob" asp-for="DNgaySinh"
                       placeholder="name@example.com">
                <label for="floatingDob">Ngày sinh</label>
                <span asp-validation-for="DNgaySinh" class="text-danger"></span>
            </div>
            <div class="form-floating my-3">
                <input type="text" class="form-control" id="floatingPassword" disabled asp-for="SMaTheMuon"
                       placeholder="Password">
                <label for="floatingPassword">Mã thẻ mượn</label>
                <span class="text-danger" asp-validation-for="SMaTheMuon"></span>
            </div>
            <div id="btnHolder">
                <button class="btn btn-lg btn-primary mt-3 w-100">Cập nhật</button>
            </div>
        </form>
    </div>
</div>
