@model DtoSignup
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
    <title>@ViewData["Title"]</title>
</head>

<body>
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">
            @TempData["ErrorMessage"]
        </div>
    }

    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    }
    <div id="mainContainer">
        <div class="">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-xs-12 d-none d-lg-block d-md-block">
                    <div id="mainBgn"></div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="p-4 centerOnMobile">
                        <div class="formContainer">
                            <h2 class="p-2 h4 text-center"><i class="fas fa-lock me-2"></i> Đăng ký</h2>
                            <form asp-action="SignUp" asp-controller="Account" method="post" enctype="multipart/form-data">
                                <div class="form-floating my-3">
                                    <input type="email" class="form-control" asp-for="STaiKhoan" id="floatingInput"
                                        placeholder="name@example.com">
                                    <label for="floatingInput">Địa chỉ Email</label>
                                    <span asp-validation-for="STaiKhoan" class="text-danger"></span>
                                </div>
                                <div class="form-floating my-3">
                                    <input type="text" class="form-control" id="floatingCCCD"
                                           placeholder="name@example.com" asp-for="SCccd">
                                    <label for="floatingCCCD">Căn cước công dân</label>
                                    <span asp-validation-for="SCccd" class="text-danger"></span>
                                </div>
                                <div class="form-floating my-3">
                                    <input type="text" class="form-control" id="floatingAdress" asp-for="SDiaChi"
                                        placeholder="name@example.com">
                                    <label for="floatingAdress">Địa chỉ</label>
                                    <span asp-validation-for="SDiaChi" class="text-danger"></span>
                                </div>
                                <div class="form-floating my-3">
                                    <input type="date" class="form-control" id="floatingDob" asp-for="DNgaySinh"
                                        placeholder="name@example.com">
                                    <label for="floatingDob">Ngày sinh</label>
                                    <span asp-validation-for="DNgaySinh" class="text-danger"></span>
                                </div>
                                <div class="form-floating my-3">
                                    <input type="password" class="form-control" id="floatingPassword" asp-for="SMatKhau"
                                        placeholder="Password">
                                    <label for="floatingPassword">Mật khẩu</label>
                                    <span asp-validation-for="SMatKhau" class="text-danger"></span>
                                </div>
                                <div class="form-floating my-3">
                                    <input type="password" class="form-control" id="floatingRePassword"
                                        placeholder="RePassword">
                                    <label for="floatingRePassword">Nhập lại mật khẩu</label>
                                </div>
                                <div id="btnHolder">
                                    <button class="btn btn-lg btn-primary mt-3 w-100">Đăng ký</button>
                                </div>
                            </form>
                        </div>
                        <div class="mt-2 text-center">
                            Bạn đã có tài khoản? <a href="./login">Đăng nhập</a><br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/jquery-validate/jquery.validate.min.js"></script>
<script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/booksmanage.js"></script>

</html>