<div class="main-category">
    <h3>Danh mục: <a href="">Sách mới</a></h3>
    <div class="list-category-book">
        <div class="list-book-items">
            <div class="box-item shadow p-3 mb-5 bg-white rounded">
                <a href="">
                    <div class="img-book">
                        <img src="~/images/comic-book1.jpg" alt="">
                    </div>
                </a>
                <div class="detail-book">
                    <h5>AVENGERS ANNUAL</h5>
                    <p>Tác giả: Savaldor Larroca</p>
                    <p>Nhà xuất bản: Kim Đồng</p>
                    <p>Số lượng: 18</p>
                    <p>Trạng thái: <b>Còn sách</b></p>
                    <p>Giá mượn: <strong>165.000 VNĐ</strong></p>
                </div>
            </div>
            <div class="box-item shadow p-3 mb-5 bg-white rounded">
                <a href="">
                    <div class="img-book">
                        <img src="~/images/comic-book1.jpg" alt="">
                    </div>
                </a>
                <div class="detail-book">
                    <h5>AVENGERS ANNUAL</h5>
                    <p>Tác giả: Savaldor Larroca</p>
                    <p>Nhà xuất bản: Kim Đồng</p>
                    <p>Số lượng: 18</p>
                    <p>Trạng thái: <b>Còn sách</b></p>
                    <p>Giá mượn: <strong>165.000 VNĐ</strong></p>
                </div>
            </div>
            <div class="box-item shadow p-3 mb-5 bg-white rounded">
                <a href="">
                    <div class="img-book">
                        <img src="~/images/comic-book1.jpg" alt="">
                    </div>
                </a>
                <div class="detail-book">
                    <h5>AVENGERS ANNUAL</h5>
                    <p>Tác giả: Savaldor Larroca</p>
                    <p>Nhà xuất bản: Kim Đồng</p>
                    <p>Số lượng: 18</p>
                    <p>Trạng thái: <b>Còn sách</b></p>
                    <p>Giá mượn: <strong>165.000 VNĐ</strong></p>
                </div>
            </div>
            <div class="box-item shadow p-3 mb-5 bg-white rounded">
                <a href="">
                    <div class="img-book">
                        <img src="~/images/comic-book1.jpg" alt="">
                    </div>
                </a>
                <div class="detail-book">
                    <h5>AVENGERS ANNUAL</h5>
                    <p>Tác giả: Savaldor Larroca</p>
                    <p>Nhà xuất bản: Kim Đồng</p>
                    <p>Số lượng: 18</p>
                    <p>Trạng thái: <b>Còn sách</b></p>
                    <p>Giá mượn: <strong>165.000 VNĐ</strong></p>
                </div>
            </div>
        </div>
        <div class="list-book-items">
            <div class="box-item shadow p-3 mb-5 bg-white rounded">
                <a href="">
                    <div class="img-book">
                        <img src="~/images/comic-book1.jpg" alt="">
                    </div>
                </a>
                <div class="detail-book">
                    <h5>AVENGERS ANNUAL</h5>
                    <p>Tác giả: Savaldor Larroca</p>
                    <p>Nhà xuất bản: Kim Đồng</p>
                    <p>Số lượng: 18</p>
                    <p>Trạng thái: <b>Còn sách</b></p>
                    <p>Giá mượn: <strong>165.000 VNĐ</strong></p>
                </div>
            </div>
            <div class="box-item shadow p-3 mb-5 bg-white rounded">
                <a href="">
                    <div class="img-book">
                        <img src="~/images/comic-book1.jpg" alt="">
                    </div>
                </a>
                <div class="detail-book">
                    <h5>AVENGERS ANNUAL</h5>
                    <p>Tác giả: Savaldor Larroca</p>
                    <p>Nhà xuất bản: Kim Đồng</p>
                    <p>Số lượng: 18</p>
                    <p>Trạng thái: <b>Còn sách</b></p>
                    <p>Giá mượn: <strong>165.000 VNĐ</strong></p>
                </div>
            </div>
            <div class="box-item shadow p-3 mb-5 bg-white rounded">
                <a href="">
                    <div class="img-book">
                        <img src="~/images/comic-book1.jpg" alt="">
                    </div>
                </a>
                <div class="detail-book">
                    <h5>AVENGERS ANNUAL</h5>
                    <p>Tác giả: Savaldor Larroca</p>
                    <p>Nhà xuất bản: Kim Đồng</p>
                    <p>Số lượng: 18</p>
                    <p>Trạng thái: <b>Còn sách</b></p>
                    <p>Giá mượn: <strong>165.000 VNĐ</strong></p>
                </div>
            </div>
            <div class="box-item shadow p-3 mb-5 bg-white rounded">
                <a href="">
                    <div class="img-book">
                        <img src="~/images/comic-book1.jpg" alt="">
                    </div>
                </a>
                <div class="detail-book">
                    <h5>AVENGERS ANNUAL</h5>
                    <p>Tác giả: Savaldor Larroca</p>
                    <p>Nhà xuất bản: Kim Đồng</p>
                    <p>Số lượng: 18</p>
                    <p>Trạng thái: <b>Còn sách</b></p>
                    <p>Giá mượn: <strong>165.000 VNĐ</strong></p>
                </div>
            </div>
        </div>
        <div class="list-book-items">
            <div class="box-item shadow p-3 mb-5 bg-white rounded">
                <a href="">
                    <div class="img-book">
                        <img src="~/images/comic-book1.jpg" alt="">
                    </div>
                </a>
                <div class="detail-book">
                    <h5>AVENGERS ANNUAL</h5>
                    <p>Tác giả: Savaldor Larroca</p>
                    <p>Nhà xuất bản: Kim Đồng</p>
                    <p>Số lượng: 18</p>
                    <p>Trạng thái: <b>Còn sách</b></p>
                    <p>Giá mượn: <strong>165.000 VNĐ</strong></p>
                </div>
            </div>
            <div class="box-item shadow p-3 mb-5 bg-white rounded">
                <a href="">
                    <div class="img-book">
                        <img src="~/images/comic-book1.jpg" alt="">
                    </div>
                </a>
                <div class="detail-book">
                    <h5>AVENGERS ANNUAL</h5>
                    <p>Tác giả: Savaldor Larroca</p>
                    <p>Nhà xuất bản: Kim Đồng</p>
                    <p>Số lượng: 18</p>
                    <p>Trạng thái: <b>Còn sách</b></p>
                    <p>Giá mượn: <strong>165.000 VNĐ</strong></p>
                </div>
            </div>
            <div class="box-item shadow p-3 mb-5 bg-white rounded">
                <a href="">
                    <div class="img-book">
                        <img src="~/images/comic-book1.jpg" alt="">
                    </div>
                </a>
                <div class="detail-book">
                    <h5>AVENGERS ANNUAL</h5>
                    <p>Tác giả: Savaldor Larroca</p>
                    <p>Nhà xuất bản: Kim Đồng</p>
                    <p>Số lượng: 18</p>
                    <p>Trạng thái: <b>Còn sách</b></p>
                    <p>Giá mượn: <strong>165.000 VNĐ</strong></p>
                </div>
            </div>
            <div class="box-item shadow p-3 mb-5 bg-white rounded">
                <a href="">
                    <div class="img-book">
                        <img src="~/images/comic-book1.jpg" alt="">
                    </div>
                </a>
                <div class="detail-book">
                    <h5>AVENGERS ANNUAL</h5>
                    <p>Tác giả: Savaldor Larroca</p>
                    <p>Nhà xuất bản: Kim Đồng</p>
                    <p>Số lượng: 18</p>
                    <p>Trạng thái: <b>Còn sách</b></p>
                    <p>Giá mượn: <strong>165.000 VNĐ</strong></p>
                </div>
            </div>
        </div>
    </div>
</div>