<div class="details">
    <h3>Danh mục: <a href="">Sách mới</a></h3>
    <div class="item-details">
        <div class="img-item">
            <img src="~/images/book1.jfif" alt="">
        </div>
        <div class="item-content">
            <div class="item-description">
                <strong>Tiêu đề: </strong><span>Tư duy ngược đáng sợ như nào?</span>
            </div>
            <div class="item-description">
                <strong>Tác giả: </strong><span>Nguyễn Anh Dũng</span>
            </div>
            <div class="item-description">
                <strong>Nhà xuất bản: </strong><span>Kim Đồng</span>
            </div>
            <div class="item-description">
                <strong>Trạng thái: </strong><span>Còn hàng</span>
            </div>
            <div class="item-description">
                <strong>Thời gian mượn: </strong><span>1 tháng</span>
            </div>
            <div class="item-description">
                <strong>Giá mượn: </strong>
                <p id="price">104.000 VNĐ</p>
            </div>
            <div class="item-action">
                <a href="" class="btn btn-primary">Mượn ngay</a>
            </div>
        </div>
    </div>
    <div class="list-book-synonym">
        <h2>Sách liên quan</h2>
        <div class="list-book-items">
            <div class="box-item shadow p-3 mb-5 bg-white rounded">
                <a href="">
                    <div class="img-book">
                        <img src="~/images/comic-book1.jpg" alt="">
                    </div>
                </a>
                <div class="detail-book">
                    <h5>AVENGERS ANNUAL</h5>
                    <p>Tác giả: Savaldor Larroca</p>
                    <p>Nhà xuất bản: Kim Đồng</p>
                    <p>Số lượng: 18</p>
                    <p>Trạng thái: <b>Còn sách</b></p>
                    <p>Giá mượn: <strong>165.000 VNĐ</strong></p>
                </div>
            </div>
            <div class="box-item shadow p-3 mb-5 bg-white rounded">
                <a href="">
                    <div class="img-book">
                        <img src="~/images/comic-book1.jpg" alt="">
                    </div>
                </a>
                <div class="detail-book">
                    <h5>AVENGERS ANNUAL</h5>
                    <p>Tác giả: Savaldor Larroca</p>
                    <p>Nhà xuất bản: Kim Đồng</p>
                    <p>Số lượng: 18</p>
                    <p>Trạng thái: <b>Còn sách</b></p>
                    <p>Giá mượn: <strong>165.000 VNĐ</strong></p>
                </div>
            </div>
            <div class="box-item shadow p-3 mb-5 bg-white rounded">
                <a href="">
                    <div class="img-book">
                        <img src="~/images/comic-book1.jpg" alt="">
                    </div>
                </a>
                <div class="detail-book">
                    <h5>AVENGERS ANNUAL</h5>
                    <p>Tác giả: Savaldor Larroca</p>
                    <p>Nhà xuất bản: Kim Đồng</p>
                    <p>Số lượng: 18</p>
                    <p>Trạng thái: <b>Còn sách</b></p>
                    <p>Giá mượn: <strong>165.000 VNĐ</strong></p>
                </div>
            </div>
            <div class="box-item shadow p-3 mb-5 bg-white rounded">
                <a href="">
                    <div class="img-book">
                        <img src="~/images/comic-book1.jpg" alt="">
                    </div>
                </a>
                <div class="detail-book">
                    <h5>AVENGERS ANNUAL</h5>
                    <p>Tác giả: Savaldor Larroca</p>
                    <p>Nhà xuất bản: Kim Đồng</p>
                    <p>Số lượng: 18</p>
                    <p>Trạng thái: <b>Còn sách</b></p>
                    <p>Giá mượn: <strong>165.000 VNĐ</strong></p>
                </div>
            </div>
        </div>
    </div>
</div>